* linguist-vendored
*.js linguist-vendored=false
*.coffee linguist-vendored=false
*.css linguist-vendored=false
*.yml linguist-vendored=false
*.json linguist-vendored=false
*.rb linguist-vendored=false
*.html linguist-vendored=false
*.html.erb linguist-vendored=false
*.blade.php linguist-vendored=true
*.vue linguist-vendored=true


CHANGELOG.md export-ignore
